{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Choose a specification</span>

      <form action="specification-request" method="post">

      {{ govukRadios({
        idPrefix: "specification-request",
        name: "specification-request",
        fieldset: {
          legend: {
            text: "Would you like to attach your specification?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
            text: "Seeing a copy of your specification will help us to understand the problem and help you more quickly."
          },
        items: [
          {
            value: "choose-specification",
            text: "Yes, I want to choose from a list"
          },
          {
            value: "upload-specification",
            text: "Yes, I want to upload my own copy"
          },
          {
            value: "no-specification",
            text: "No, I don't have a specification that relates to my query"
          },
          {
            value: "no-specification",
            text: "No, my request is not related to a specification "
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
