{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Share a specification</span>

      <form action="check-your-answers" method="post">

      {{ govukCheckboxes({
        idPrefix: "specification",
        name: "specification",
        fieldset: {
          legend: {
            text: "Which of your specifications are related to this request?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "A copy of the specifications you choose will be sent to us with this request in its current state. We will not receive any new changes you make. Select all that apply."
        },        
        items: [
          {
            value: "spec 123",
            text: "spec 123"
          },
          {
            value: "spec 456",
            text: "spec 456"
          },
          {
            value: "spec 789",
            text: "spec 789"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
