{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">About your specification</span>

      <form action="enter-problem-description" method="post">

        {{ govukCheckboxes({
          idPrefix: "support-request",
          name: "support-request",
          fieldset: {
            legend: {
              text: "How can we support you with your specification?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "I need help with using the service",
              text: "I need help with using the service"
            },
            {
              value: "I have a problem with using this service",
              text: "I have a problem with using this service"
            },
            {
              value: "I need advice and guidance on what information to provide",
              text: "I need advice and guidance on what information to provide"
            },
            {
              value: "I need clarification on something thing that is unclear",
              text: "I need clarification on something thing that is unclear"
            },
            {
              value: "Something else",
              text: "Something else"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
