.manual-header {
    background-color: #1d70b8;
    margin:0px;
    padding: 16px;

    h1 {
        color: white;
        font-size: 36px;
    }

    p {
        color: white;
        line-height:1.4;
        font-size: 16px;
    }

    a {
        color: white;
        font-weight: bold;
    }
}