{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Supported buying for schools</h1>

            <p>Request free advice and support from our procurement experts for help with your catering or multi-functional devices specification.</p>

            <p class="govuk-body">Use this service to request advice or guidance for creating your specification, we can help with:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>how to use the service</li>
              <li>any problems you might have with using this service</li>
              <li>advice and guidance on what information to provide</li>
              <li>clarifying anything that is unclear</li>
            </ul>

            <p class="govuk-body">We will respond to you within 5 working days.</p>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdoFMVR0qLiUVy63AcJh-KIL8DAGGQAb0eOX81EkFPwnP-zrA/viewform?usp=sf_link" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
              Start
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
              </svg>
            </a>

            <h2 class="govuk-heading-m">Before you start</h2>

            <p class="govuk-body">You can:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li><a href="../gov/buying-procedures-for-schools-writing-a-spec">read about writing a specification</a></li>
              <li>find out more about <a href="../gov/buying-for-schools">planning for what you’re buying</a></li>
              <li>read <a href="../gov/buying-procedures-for-schools">information on finding the right way to buy</a> for your school.</li>
              <li>see if you can buy what you need using a DfE recommended framework. Use our <a href="https://www.gov.uk/guidance/find-a-dfe-approved-framework-for-your-school">find a framework service.</a></li>
            </ul>
    </div>
  </div>
{% endblock %}
