{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}
{#
  {{ govukPhaseBanner({
        tag: { text: "beta" },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
#}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    }
  ]
}) }}

{{ govukBackLink({
        text: "Back",
        href: "../../../index"
      }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
        <h1 class="govuk-heading-xl">Specifications dashboard</h1>
        <div class="govuk-inset-text">
          <a href="choose-a-way-to-buy">Request free help and support with your specification</a>
        </div>
        <p><a href="create-specification" class="govuk-button">Create a new specification</a></p>
        <h2 class="govuk-heading-m">Existing specification</h2>
        <p>Continue with a draft specification, and review completed specifications.</p>

        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "Name"
            },
            {
              text: "Category"
            },
            {
              text: "Date started"
            },
            {
              text: ""
            }
          ],
          rows: [
            
            [
              {
                html: "<a href=''>Oxford primary spec 234567890</a>"
              },
              {
                text: "MFD"
              },
              {
                text: "2 Oct 2020"
              },
              {
                format: "govuk-table__cell--numeric",
                html: "<a href=''>edit</a> - <a href=''>delete</a>"
              }
            ],
            [
              {
                html: "<a href=''>Oxford high school spec 345678901</a>"
              },
              {
                text: "Catering"
              },
              {
                text: "10 Sept 2020"
              },
              {
                format: "govuk-table__cell--numeric",
                html: "<a href=''>edit</a> - <a href=''>delete</a>"
              }
            ],
            [
              {
                html: "<a href=''>Oxford high school spec 456789012<a/>"
              },
              {
                text: "MFD"
              },
              {
                text: "9 Sept 2020"
              },
              {
                format: "govuk-table__cell--numeric",
                html: "<a href=''>edit</a> - <a href=''>delete</a>"
              }
            ]
          ]
        }) }}
    </div>
  </div>
{% endblock %}
