{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><span class="govuk-caption-l">Buy for your school</span>Prototypes</h1>
    <p>If you are looking for the alpha prototypes, you can <a class="govuk-link govuk-link--no-visited-state" href="alpha-prototypes">find them here</a>.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
    	<h2 class="govuk-heading-l">Current phase</h2>
  	  <div class="govuk-grid-row govuk-!-margin-bottom-6">
      	<div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s">Planning stage - Catering services</h3>
          <ul class="govuk-list govuk-!-margin-bottom-7">
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-4/plan/plan-catering-procurement">How to procure a catering contract for your school</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-4/start">Service start page</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/start">Navigate your procurement</a></li>
          </ul>
          <h3 class="govuk-heading-s">End to End Service</h3>
          <ul class="govuk-list govuk-!-margin-bottom-7">
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/gov/buying-procedures-for-schools">Gov.uk pages - Buying procedures for schools</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/gov/buying-for-schools">Gov.uk pages - Buying for schools</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/specify/start">Specify - Start</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/support/start">Supported buying - Start</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/support-lite/start">Supported buying Lite - Start</a></li>

          </ul>
          <h3 class="govuk-heading-s">Direct link to pages - to be removed</h3>
          <ul class="govuk-list govuk-!-margin-bottom-7">
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/gov/buying-procedures-for-schools">Gov.uk pages - Buying procedures for schools</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/gov/buying-procedures-for-schools-writing-a-spec">Gov.uk pages - Writing a spec</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/gov/buying-for-schools">Gov.uk pages - Buying for schools</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/gov/buying-for-schools-catering">Gov.uk pages - Buying for schools - Catering</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/gov/buying-for-schools-mfd">Gov.uk pages - Buying for schools - Multi-functional devices</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/specify/start">Specify - Start</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/specify/next-steps">Specifiy - Next steps</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-5/find-a-framework/matching-frameworks">Find a framework - Matching frameworks</a></li>
          </ul>
    		</div>
  	  </div>
    </div>
  </div>
</div>

<!--
============================================================================
Previous phases
============================================================================
-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Previous phases</h2>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-1">MVP phased releases</span></h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-l">MVP phased releases</h2>
            <div class="govuk-grid-row govuk-!-margin-bottom-6">
            	<div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-s">MVP release 1 - no sign in</h3>
                <ul class="govuk-list govuk-!-margin-bottom-7">
                  <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-3/plan/start?release=mvp1">Plan your precurement start page</a></li>
                  <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-3/create-specification/start?release=mvp1">Service start page</a></li>
                </ul>
                <h3 class="govuk-heading-s">MVP release 2 - with sign in</h3>
                <ul class="govuk-list govuk-!-margin-bottom-7">
                  <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-3/plan/start?release=mvp2">Plan your precurement start page</a></li>
                  <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-3/create-specification/start?release=mvp2">Service start page</a></li>
                </ul>
                <h3 class="govuk-heading-s">Release 1</h3>
                <ul class="govuk-list">
                  <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-3/plan/start?release=rel1">Plan your precurement start page</a></li>
                  <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-3/create-specification/start?release=rel1">Service start page</a></li>
                </ul>
            	</div>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-2">Phase 2</span></h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
                	<h2 class="govuk-heading-l">Plan</h2>
                	<div class="govuk-grid-row govuk-!-margin-bottom-6">
                		<div class="govuk-grid-column-one-half">
                      <h3 class="govuk-heading-s">Plan your procurement</h3>
                      <ul class="govuk-list">
                        <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-2/start">Plan your precurement start page</a></li>
                      </ul>
                		</div>
                	</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-3">Phase 1</span></h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
              	<h2 class="govuk-heading-l">Specification builder</h2>
              	<div class="govuk-grid-row govuk-!-margin-bottom-6">
              		<div class="govuk-grid-column-one-half">
                    <h3 class="govuk-heading-s">End-to-end journey</h3>
                    <ul class="govuk-list">
                      <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-1/start">Service start page</a></li>
                      <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-1/dashboard">Dashboard</a></li>
                      <li><a class="govuk-link govuk-link--no-visited-state" href="beta/phase-1/start_new-specification">Create new specification start page</a></li>
                    </ul>
              		</div>
              	</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
